body{
	padding: 0;
	margin: 0 auto;
}

.main{
	margin: 0 auto;
	padding: 0;
}
.header{
	overflow: auto;
	padding: 5px 10px 5px 10px;
	margin: 0;
	background-color: #323232;
	color: #999999;
}

form{
	margin: 0;
	padding: 0;
	float: right;
}